@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: lightslategray;
  background-color:black;
}

h1 {
  padding-top: 3rem;
  font-family: 'Lato', sans-serif;
  padding-bottom: 1rem;
}

h2 {
  text-align: justify;
}

h2, h3 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
  
.column {
  flex: 33%;
  max-width: 30%;
  padding: 0 .5rem;
  cursor: pointer;
}
  
.column img {
  margin-top: 1rem;
  vertical-align: middle;
  width: 100%;
}
  
.column img:hover {
  transform: scale(2);
  margin-left: 6rem; 
  margin-right: 6rem;
}
  
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
