@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: grey;
  background-color:black;
}

h1 {
  font-family: 'Lato', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
  
.column {
  flex: 33%;
  max-width: 30%;
  padding: 0 4px;
  cursor: pointer;
}
  
.column img {
  margin-top: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
  width: 100%;
}
  
.column img:hover {
  transform: scale(2);
}
  
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
